.wrapper {
  position: relative;

  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.title {
  position: absolute;
  top: 8.75%;
  left: 50%;
  transform: translate(-50%);


  font-size: 16px;
  font-weight: 500;
  line-height: 19.09px;
  text-align: center;
  color: #030202;
}

@mixin shape {
  position: absolute;
  transition: all 0.5s ease-out;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.relocationShape {
  @include shape;
  top: 50%;
  left: 50%;
}

.relocationShapeAside {
  left: 0%;
  transform: translate(-35%, -50%);
}

.personalShape {
  @include shape;
  top: 50%;
  left: 40%;
}

.personalShapeAside {
  left: 100%;
  transform: translate(100%, -50%);
}


.personalShapePhaseAside {
  left: 30%;
  top: 35%;
  transform: translate(-50%, -50%);
}

.personalShapeSelected {
  opacity: 0.5;
}

.corporateShape {
  @include shape;
  top: 50%;
  left: 60%;
}

.corporateShapeAside {
  left: 100%;
  transform: translate(200%, -50%);
}

.corporateShapePhaseAside {
  left: 30%;
  top: 65%;
  transform: translate(-50%, -50%);
}

.corporateShapeSelected {
  opacity: 0.5;
}

.leftLeafShape {
  @include shape;
  top: 50%;
  left: 60%;
}

.leftLeafShapeAside {
  @include shape;
  top: 100%;
  left: 60%;
  transform: translate(-50%, 100%);
}

.rightLeafShape {
  @include shape;
  top: 50%;
  left: 80%;
  transform: translate(-50%, -50%);
}

.rightLeafShapeAside {
  @include shape;
  top: 100%;
  left: 80%;
  transform: translate(-50%, 100%);
}

.holandHop {
  position: absolute;
  bottom: 0;
  transform: translate(-7%, 40%);
  z-index: 0;
}