.menuItemWrapper {
  all: unset;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  height: 24px;
  width: 100%;
  box-sizing: border-box;
}

.menuItemActive {
  border-left: 2px solid #3d4dff;
  border-right: 2px solid transparent;
}
